<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart-Kart</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
        body {
            padding-top: 80px;
        }

        .show-cart li {
            display: flex;
        }
        .card {
            margin-bottom: 20px;

        }
        .card-img-top {
            width: 250px;
            height: 200px;
            align-self: center;
        }
    </style>

</head>

<body>



<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Smart Kart</h1>
            <div class="list-group">
                <div class="/get-data">

                    {{# each items }}
                        <a href="vege.html" class="list-group-item">{{this.category}}</a>
                    {{/each}}
                </div>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src=".\images\offer.jpg" alt="First slide" width="900" height="350" >
                    </div>
                    <div class="carousel-item">
                        <img src=".\images\walmart.png" alt="Second slide" width="850" height="350">
                    </div>
                    <div class="carousel-item">
                        <img src=".\images\offer2.jpg" alt="Third slide" width="700" height="350">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="/get-data">
                        {{# each items }}
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card" style="width: 16rem;">
                                    <a href="#"><img class="card-img-top" src={{ this.url }} alt="blah" width="200" height="150"></a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="apple.html">{{this.name}}</a>
                                        </h4>
                                        <h5><p class="card-text">Winco: $ {{ this.wprice }} per lb</p></h5>

                                        <p class="card-text">FredMeyer: $ {{ this.fprice }} per lb</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" data-name={{ this.name }} data-price={{ this.wprice }} class="add-to-cart btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>

                </div>
                <!-- /.row -->
            </div>

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->





<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Smart kart 2019</p>
    </div>
    <!-- /.container -->
</footer>

</body>

</html>
